# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=clinical_etl
POSTGRES_USER=admin
POSTGRES_PASSWORD=

# AWS DynamoDB
DYNAMODB_TABLE=clinical_etl_fhir

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-2
S3_BUCKET_NAME=clinical-etl-raw

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Databricks
DATABRICKS_HOST=
DATABRICKS_TOKEN=
